/*Selector universal*/
*{
    padding: 0; 
    margin: 0;
}
/*Selector de tipo: Etiqueta*/
body{
    background-color: forestgreen; 
}
main{
    display: flex;
    flex-wrap:wrap;
}
h1{
    color:white;
}
/*Selector de tipo: Clase*/
/*Reutilizar estilos*/
.tarjeta {
    width: 320px;
    background-color: antiquewhite;
    border-radius: 3%;
    /*Centrando elementos*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    transition: all 0.8s ease-in-out;
}
.tarjeta:hover{
    background-color: aqua;
    transform: scale(1.1);
    transform: rotate(deg);
}
.tarjeta .caja-contenedora{
    width: 200px;
    
}
.tarjeta img{
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.tarjeta p{
    font-size: 20px;
}

#gato{
    color: brown;
}
#perro{
    color: blue;
}
#borregos{
    color:rgb(8, 75, 75);
}
#mariposa{
    color: rgba(15, 119, 20, 0.685);
}
#cerditos{
    color:darkgoldenrod;
}